* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgb(255, 255, 255); */
    background: transparent;
    color: #585858
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
}
nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #c4c4c4;
}
.intro {
    margin-bottom: 30px;
}
.levels {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.levels h3 {
    cursor: pointer;
    transition: all 0.4s;
}
.levels h3:hover {
    color:#2dbdd6;
}
.active-level {
    border-bottom: 2px #2dbdd6 solid;
    color:#2dbdd6;
}
.active-level:hover {
    cursor: default;
}
#game {
    flex: 1;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.equation {
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#numbers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
.number {
    font-size: xx-large;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #d0d0d0;
    border-radius: 10%;
    margin: 10px;
    cursor: move;
    transition: all 0.4s;
}
.number:hover {
    opacity: 0.5;
    transform: scale(1.1);
}
.number.dragged:hover {
    opacity: 0.2;
    transform: initial;
}
.dragged {
    opacity: 0.2;
    cursor: default;
    background: transparent;
}
.drop-zone {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 10%;
    margin: 5px;
    transition: all 0.4s;
}
.drop-zone.drop-hover {
    transform: scale(1.1);
}
#answer {
    transition: background 0.2s;
}
.filled {
    background: #2dbdd6;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: none;
    border-radius: 10%;
}
.temp-correct {
    background: #30d62d;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 10%;
}
.temp-wrong {
    background: #d84848;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 10%;
}
#operator-2 {
    display: none;
}
#drop-zone-3 {
    display: none;
}
.btn {
    display: inline;
    margin: 20px 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    border-radius: 9999px;
    background: #2dbdd6;
    color: #fff;
    transition: all 0.4s;
}
.btn:hover {
    background: #6cd5e8;
}
.btn:active {
    transform: scale(0.7);
}
.material-icons {
    background: transparent;
    color: #fff;
    font-size: smaller;
}
.scoreboard {
    display: flex;
    justify-content: space-between;
}
.scoreboard p {
    margin: 0 20px;
    font-size: medium;
}
.scoreboard span {
    font-weight: bold;
}
#home {
    width: 100%;
    padding-top: 10%;
    display: inline-block;
    flex: 1;
}
#score-display {
    display: none;
}
#resume {
    display: none;
}

@media (max-width: 640px) {
    body {
        height: 100vh;
    }
    #game {
        justify-content: space-around;
    }
    #numbers {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-left: 20px;
        padding-right: 20px;
        justify-items: center;
        align-items: center;
    }
    #number-0 {
        grid-column-start: 2;
    }
    .number {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
    .equation {
        justify-content: space-between;
    }
    .asso {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .asso button {
        width: 100px;
    }
    #home {
        padding-top: 20%;
    }
}

